/* global styling */

.loader-container {
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sign In Page Styling */

.outline-it {
  background-color: darkblue;
  color: white;
  padding: 5px 25px;
  border-radius: 50px;
}

.paper-style {
  min-height: 97vh;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-paper-styling {
  padding: 15px;
  width: 300px;
  min-height: fit-content;
  opacity: 0.80;
}

.ask-signup {
  padding: 5px;
  background-color: lightgrey;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Product Page Styling */

.product-form {
  min-height: 'fit-content';
  max-height: 100%;
  width: 300px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}

.buttons-group {
  margin-top: 8px;
  display: flex;
  justify-content: space-evenly
}