/* global styling */

.loader-container {
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.the-form {
  min-height: 'fit-content';
  max-height: 100%;
  width: 300px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}

.buttons-group {
  margin-top: 8px;
  display: flex;
  justify-content: space-evenly
}

.simple-flex {
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Sign In Page Styling */

.outline-it {
  background-color: darkblue;
  color: white;
  padding: 5px 25px;
  border-radius: 50px;
}

.paper-style {
  min-height: 97vh;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-paper-styling {
  padding: 15px;
  width: 300px;
  min-height: fit-content;
  opacity: 0.80;
}

.ask-signup {
  padding: 5px;
  background-color: lightgrey;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Purchase Book Styling */

.pb-form {
  height: 100%;
  min-width: 300px;
  max-width: 768px;
  margin: auto;
  margin-top: 10px;
  padding: 7px;
}

.pb-form .row {
  overflow-x: auto;
  padding: 0px 15px;
  margin-top: 10px;
}

.popout-block {
  position: absolute;
  min-height: 200px;
  max-height: 250px;
  min-width: 300px;
  max-width: 350px;
  z-index: 10;
  width: fit-content;
  padding: 15px 5px 0px 5px;
  overflow: auto;
  font-size: 12px;
}