body {
  background: url('./images/back.jpg') fixed;
  font: 16px/2em Verdana, Tahoma, sans-serif;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
